/* --------------------------------------------------------- */
/*                    IMPORTS (FONTES)                       */
/* --------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*   FORMATAÇÃO HEADER (CABEÇALHO)   */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Resetando margens, padding e configurando box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definindo cor de fundo do body */
body {
  background-color: #f0f4f9;
}

/* Estilizando a logo */
.logo {
  margin-top: 3px;
  margin-bottom: 1px;
  padding-left: 5px;
}

/* Estilizando o header */
header {
  background-color: #250315;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Estilizando o menu de navegação, removendo estilo de lista */
nav ul {
  list-style-type: none;
}

/* Configurando display flex para alinhamento dos itens do menu */
ul {
  display: flex;
  align-items: center;
}

/* Estilizando os itens da lista no menu */
nav li {
  display: inline;
  position: relative;
  margin-left: 20px;
}

/* Estilo geral para todos os links de navegação */
nav a {
  display: inline-block;
  background-color: transparent;
  color: #fff; 
  text-decoration: none; 
  border: none; 
  font-size: 16px; 
}

/* Estilizando o hover nos itens do menu */
.sem_insc:hover {
  border-bottom: 2px solid rgb(230, 137, 186);
  padding: 0;
  margin: auto;
}

/* Ajuste da margem e padding para o header e li dos botões de navegação */
header,
li {
  margin-top: 0;
  padding-right: 8px;
}

/* Estilizando botões de navegação */
.botao_nav {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: center;
}

/* Ajuste de padding para o botão de inscrição */
#inscricao_menu {
  padding-right: 30px;
}

/* Cor de hover para o botão de inscrição */
nav ul li #inscricao_menu:hover {
  color: #fff;
}

/*-----------------------*/
/* SUB MENU (DROPDOWN)   */
/*-----------------------*/

/* Estilizando submenu (inicialmente oculto) */
nav ul ul {
  display: none;           /* Oculta o submenu */
  margin: 0;
  padding: 0;
  left: 0;
  position: absolute;
  top: 100%;               /* Alinha o submenu logo abaixo do item Inscrição */
}

/* Exibe o submenu ao passar o mouse sobre o item Inscrição */
nav ul li:hover ul {
  display: block;
}

/* Estilo para links do submenu */
nav ul ul li a {
  display: block;
  background-color: rgb(230, 137, 186);
  color: #fff;
  padding: 0px;
  font-size: 13px;
  text-align: center;
  margin: 0;
}

/* --------------------------------------------------------------------------
~ OBSERVAÇÃO: AS FOLHAS DE ESTILO ESTÃO EM ARQUIVOS DIFERENTES, SENDO ELES: -
-                           * header.css                                    -
-                           * main.css                                      -
-                           * footer.css                                    -
--------------------------------------------------------------------------- */

