/* --------------------------------------------------------- */
/*                    IMPORTS (FONTES)                       */
/* --------------------------------------------------------- */

/* Importação de fontes do Google Fonts para utilização no design do site */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*   FORMATAÇÃO HEADER (CABEÇALHO)   */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Reset de margens e padding para todos os elementos, e configuração de box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}

/* Definindo a cor de fundo do corpo da página */
body {
  background-color: #f0f4f9; /* Cor clara para o fundo da página */
}

/* Estilo para a logo do cabeçalho */
.logo {
  margin-top: 3px;
  margin-bottom: 1px;
  padding-left: 5px; /* Ajuste da posição da logo */
}

/* Estilo geral para o cabeçalho (header) */
header {
  background-color: #250315; /* Cor de fundo escura para o cabeçalho */
  color: #fff; /* Texto branco no cabeçalho */
  display: flex; /* Flexbox para alinhamento */
  justify-content: space-between; /* Espaço entre os itens do cabeçalho */
  align-items: center; /* Alinha os itens centralizados verticalmente */
  padding: 0;
  font-family: "Roboto", sans-serif; /* Definindo fonte para o cabeçalho */
}

/* Removendo estilo padrão das listas ordenadas (programação do evento) */
ol {
  list-style: none; /* Remove marcadores */
}

/* Estilo do menu de navegação */
nav ul {
  list-style-type: none; /* Remove os marcadores de lista */
}

/* Definindo layout flex para o menu de navegação */
ul {
  display: flex; /* Itens alinhados em linha */
  align-items: center; /* Alinha os itens verticalmente */
}

/* Estilo para os itens do menu de navegação */
nav li {
  display: inline; /* Exibe os itens em linha */
  position: relative; /* Necessário para o submenu */
  margin-left: 20px; /* Espaçamento entre os itens do menu */
}

/* Estilo geral para os links do menu de navegação */
nav a {
  display: inline-block; /* Os links são exibidos como blocos em linha */
  background-color: transparent; /* Sem fundo nos links */
  color: #fff; /* Cor do texto branco */
  text-decoration: none; /* Remove o sublinhado */
  border: none; /* Remove bordas */
  font-size: 16px; /* Tamanho da fonte */
}

/* Efeito hover para os itens de navegação */
.sem_insc:hover {
  border-bottom: 2px solid rgb(230, 137, 186); /* Linha embaixo do item ao passar o mouse */
  padding: 0;
  margin: auto;
}

/* Ajuste de margens e padding para o header e itens do menu de navegação */
header,
li {
  margin-top: 0;
  padding-right: 8px; /* Ajuste do padding */
}

/* Estilo para os botões de navegação */
.botao_nav {
  font-family: "Roboto", sans-serif; /* Definindo fonte */
  font-size: 13px; /* Tamanho da fonte */
  text-align: center; /* Centraliza o texto nos botões */
}

/* Ajuste do padding do botão de inscrição no menu */
#inscricao_menu {
  padding-right: 30px; /* Aumenta o padding direito do botão */
}

/* Efeito hover no botão de inscrição */
nav ul li #inscricao_menu:hover {
  color: #fff; /* Muda a cor do texto para branco ao passar o mouse */
}

/*-----------------------*/
/* SUB MENU (DROPDOWN)   */
/*----------------------- */

/* Estilizando o submenu (inicialmente oculto) */
nav ul ul {
  display: none; /* Submenu oculto por padrão */
  margin: 0;
  padding: 0;
  left: 0; /* Posicionamento à esquerda */
  position: absolute; /* Submenu flutuando acima do menu principal */
}

/* Exibindo o submenu quando o item pai é focado */
nav ul li:hover ul {
  display: block; /* Exibe o submenu ao passar o mouse */
  top: 3px; /* Ajuste de posição do submenu */
}

/* Estilo para os links dentro do submenu */
nav ul ul li a {
  display: block; /* Links ocupando toda a largura do submenu */
  background-color: rgb(230, 137, 186); /* Cor de fundo do submenu */
  border-radius: 3px; /* Bordas arredondadas */
  font-weight: 400; /* Peso da fonte normal */
  color: #fff; /* Cor do texto */
  padding: 0px; /* Sem padding extra */
  font-size: 12.5px; /* Tamanho da fonte */
  text-align: center; /* Texto centralizado */
  margin: 0; /* Remove margens */
}

/* Efeito hover para os links do submenu */
nav ul ul li a:hover {
  color: #250315; /* Cor do texto ao passar o mouse */
}

/* Ajustes de tamanho para botões em telas pequenas */
@media (max-width: 768px) {
  .botao_nav {
    font-size: 9px; /* Diminui o tamanho da fonte em telas pequenas */
  }
}

/* --------------------------------------------------------------------------
~ OBSERVAÇÃO: AS FOLHAS DE ESTILO ESTÃO EM ARQUIVOS DIFERENTES, SENDO ELES: -
-                           * header.css                                    -
-                           * main.css                                      -
-                           * footer.css                                    -
--------------------------------------------------------------------------- */

