/* --------------------------------------------------------- */
/*                    IMPORTS (FONTES)                       */
/* --------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

/* --------------------------------------------------------- */
/*                    ESTILIZANDO A CAPA                     */
/* --------------------------------------------------------- */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*    DEFIFININDO IMAGEM PARA CAPA     */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Definindo a imagem de fundo, tamanho e posição da capa */
#foto_capa {
  background-image: url(Imagens/1.Página_inicial/capa_pag_inicial.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
}

/*~~~~~~~~~~~~~~~~~~~*/
/*     TEXTO CAPA    */
/*~~~~~~~~~~~~~~~~~~~*/

/* Estilizando a data na capa */
#data_capa {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

/* Estilizando o título na capa */
#tit_capa {
  font-family: "Amatic SC", Arial, sans-serif;
  font-size: 70px;
  position: relative;
  padding-top: 10%;
  font-weight: 800;
  color: #ead1dc;
}

/* Centralizando o conteúdo da capa */
.capa {
  text-align: center;
}

/* --------------------------------------------------------- */
/*                     ESTILIZANDO MAIN                      */
/* --------------------------------------------------------- */

/*~~~~~~~~~~~~~*/
/*  BEM VINDO  */
/*~~~~~~~~~~~~~*/

/* Estilizando a seção de boas-vindas */
.bem_vindo {
  background-color: rgba(238, 210, 225, 1);
  display: block;
  margin: 0px 0px;
  padding: 2.5%;
  text-align: center;
  color: #c27ba0;
  font-family: "Bree Serif", Arial, sans-serif;
  font-weight: 100;
  font-size: 17px;
}

/* Animação fade-in para elementos visíveis */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplica a animação no texto "Bem-vindo" */
.bem_vindo {
  animation: fadeIn 1s ease-in-out;
}

/*~~~~~~~~~~~~~~~~~~~~~~*/
/* INTRODUÇÃO DO EVENTO */
/*~~~~~~~~~~~~~~~~~~~~~~*/

/* Estilizando a introdução do evento */
.introducao {
  text-align: justify;
  background-color: #f0f4f9;
  position: relative;
  padding: 3% 17% 3% 17%;
  color: #a64d79;
  font-family: "Bitter", Arial, sans-serif;
  line-height: 1.7;
}

/* Estilizando destaques em negrito na introdução */
.strong_destaque {
  color: #741b47;
  font-weight: 700;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~*/
/*    IMAGEM DOS DONUTS   */
/*~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Estilizando a seção de imagens de donuts */

.container-carrossel {
  width: 1200px;
  height: 310px;
  background-color: #f0f4f9;
  overflow: hidden;
  margin: 0 16%;
}

.container-carrossel .img_donuts {
  width: 500%;
  animation-name: animacao;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes animacao {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  95% {
    margin-left: -300%;
  }

  100% {
    margin-left: -400%;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* DESCRIÇÃO QUANTIDADE DE DIAS DO EVENTO */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Estilizando a descrição da quantidade de dias do evento */
.quantidade_dias {
  text-align: center;
  background-color: #f0f4f9;
  position: relative;
  padding-top: 3%;
  padding-bottom: 2%;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 100;
  font-size: 27px;
  color: #a64d79;
}

/* Adicionando sublinhado ao texto */
#tres_dias {
  text-decoration: underline;
}

/* Estilizando o texto com id "donut_amatic" */
#donut_amatic {
  font-family: "Amatic SC", Arial, sans-serif;
  font-size: 27px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*   PROGRAMAÇÃO POR DIA   */
/*~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Tamanho da imagem para se adaptar a diferentes dispositivos */
img{
  max-width: 100%; height: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*   PROGRAMAÇÃO POR DIA   */
/*~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Estilizando a seção de programação por dia */
.dias {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Bree Serif", Arial, sans-serif;
  font-size: 16px;
  color: #a64d79;
  margin: 2% 0 3% 0%;
  background-color: #ead1dc;
  padding-right: 10%;
  padding-left: 10%;
}

/* Estilizando a descrição de cada dia na programação */
.p_dia {
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  color: #741b47;
  font-weight: 600;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 4%;
}

/* Adicionando margem aos títulos dentro da seção dias */
.dias h4 {
  margin-bottom: 3%;
  margin-top: 3%;
  position: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*   BOTÃO DE CONFIRMAÇÃO   */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Estilizando a div que contém o botão de confirmação */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Imagens/1.Página_inicial/capa_pag_inicial.jpg);
  height: 14vh;
  background-size: cover;
  margin: 0 15%;
  padding: 3% 0;
  background-position: center;
  border-radius: 7px;
  overflow-y: hidden;
  box-shadow: 0px 2px 8px #741b4893;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito ao passar o mouse no card */
.card:hover {
  transform: translateY(-5px);
  /* Levanta o card */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  /* Aumenta a intensidade da sombra */
}

/* Estilizando o botão de confirmação de presença */
#botao_confirmar_presenca {
  background-color: #ffffffde;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);
  color: #741b47;
  font-family: "Bree Serif", Arial, sans-serif;
  font-weight: 400;
  padding: 4px 20px;
  text-decoration: none;
  border: 2px groove #ffffff8e;
  display: inline-block;
  margin: 2% 0;
  transition: 400ms;
  width: 25%;
  text-align: center;
  cursor: pointer;
}

/* Estilizando o botão de confirmação de presença ao passar o mouse */
#botao_confirmar_presenca:hover {
  content: "";
  background: linear-gradient(45deg,
      #46073b,
      #c596bd,
      #e279d1,
      #500a44,
      #e0add8,
      #943584,
      #dab5d3,
      #8d4b82,
      #eccee7);
  background-color: #31021a;
  color: #fff;
  opacity: 0.6;
  transform: translateY(-5px);
  animation: glowing 20s linear infinite;

  /* Levanta o card */
  box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}

#botao_confirmar_presenca:hover:active {
  color: #000;
}

#botao_confirmar_presenca:hover:after {
  background: transparent;
}

#botao_confirmar_presenca:hover:before {
  opacity: 1;
}

#botao_confirmar_presenca:hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eb9bc3;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Removendo o sublinhado dos links e define a cor padrão */
a {
  text-decoration: none;
  color: rgb(155, 29, 92);
}

/* Alterando a cor dos links ao passar o mouse */
a:hover {
  color: #fff;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  PROGRAMAÇÃO DO EVENTO   */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Estilizando a seção de programação do evento */
.programacao_evento {
  background-color: #f0f4f9;
  padding-bottom: 1%;
  font-family: "Roboto", Arial, sans-serif;
}

/* Estilizando o título da programação do evento */
.h1_prog_evento {
  background-color: #f0f4f9;
  color: #741b47;
  font-family: "Bree Serif", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 2%;
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 17px;
}

/* Estilizando a descrição de cada dia da programação do evento */
.dia_1,
.dia_2,
.dia_3 {
  display: flex;
  justify-content: left;
  align-items: left;
  border: 1px dashed;
  border-color: #9c4672;
  border-radius: 30px;
  margin: 0% 20% 2% 20%;
  padding: 2% 2%;
  color: rgb(83, 83, 83);
  font-size: 11px;
  text-align: justify;
  flex-direction: column;
  font-family: "Roboto", Arial, sans-serif;
}

/* Centralizando o conteúdo dos dias da programação */
.prog_dias {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 0%;
}

/* Adicionando margem e padding ao elemento com ID "dia3" */
#dia3 {
  margin-right: 2%;
  padding-left: 2%;
}

/* Adicionando margem à classe "agenda_dia" */
.agenda_dia {
  margin-left: 1%;
}

/* Estilizando o texto com a classe "dias_prog" */
.dias_prog {
  color: #741b47;
  font-size: 13px;
  padding: 2%;
  text-align: center;
}

/* Adicionando um efeito de hover aos itens de lista dentro da seção de programação do evento */
.programacao_evento li:hover {
  opacity: 10;
}

/* Adicionando padding ao div dentro da seção de programação do evento */
.programacao_evento div {
  padding-top: 0%;
}

/* Adicionando padding à lista ordenada dentro da seção de programação do evento */
.programacao_evento ol {
  padding-left: 2%;
}

/* Estilizando o texto com a classe "periodo" */
.periodo {
  padding-left: 2%;
  color: #741b47;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*    TÍTULO PALESTRANTES   */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Estilizando a seção de palestrantes */
.palestrantes {
  background-color: rgba(238, 210, 225, 1);
}

.informacoes_palestrantes {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de tamanho igual */
  gap: 20px; /* Espaço entre as colunas */
  padding: 20px;
  text-align: center;
  background-color: rgba(238, 210, 225, 1); /* Cor de fundo */
  align-items: center;
  justify-content: center;
}

.palestrante img {
  width: 100%; /* Faz a imagem ocupar a largura do container */
  max-width: 230px; /* Define o tamanho máximo */
  height: auto; /* Mantém a proporção */
  border-radius: 50%; /* Deixa a imagem redonda */
}

.palestrante{
  display: grid;
  justify-content: space-evenly;
  align-items: center;
}

.nome_palestrantes, .profissao_palestrantes h6, .p_descricao p{
  padding: 2%;
}


/* Estilizando o título dos palestrantes */
#tit_palestrantes {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #a64d79;
  font-family: "Bree Serif", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding: 2% 0;
}

/* Estilizando a descrição dos palestrantes */
#desc_palestrantes {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 3%;
  padding-left: 7%;
  padding-right: 7%;
  color: #741b47;
  font-family: "Bree Serif", Arial, sans-serif;
  font-weight: 400;
  margin-left: 0 15%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  IMAGENS E DESCRIÇÃO DOS PALESTRANTES  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*Estilizando as imagens e informações dos palestrantes */
.imagens {
  display: grid;
  justify-content: space-around;
  flex-direction: column;
  width: auto;
  height: auto;
  flex-flow: column wrap;
  padding-left: 5%;
  margin-bottom: 0%;
  margin-top: 3.5%;
  background-color: rgba(238, 210, 225, 1);
}

/* Estilizando o nome dos palestrantes */
.nome_palestrantes {
  text-align: center;
  width: 230px;
  text-align: center;
  color: #741b47;
  font-family: "Bree Serif", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Estilizando a profissão dos palestrantes */
.profissao_palestrantes {
  text-align: center;
  width: 230px;
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0%;
  margin-bottom: 1%;
}

/* Estilizando a descrição dos palestrantes */
.p_descricao {
  text-align: justify;
  width: 230px;
  height: auto;
  margin: 0%;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #4c1130;
}

/* Bordas nas imagens dos palestrantes */
.imagens img {
  border: 5px;
  border-style: ridge;
  border-color: #a64d79;
  border-radius: 10px;
}

/*~~~~~~~~~*/
/*  VÍDEO  */
/*~~~~~~~~~*/

/* Centralizando o vídeo e definindo margens */

#video{
  display: flex;
  justify-content: center;
  padding: 0% 0% 2% 0%;
  background-color: rgba(238, 210, 225, 1);
}

#video video{
  background-color: rgba(238, 210, 225, 1);
  padding: 2%;
  width: 50%;  /* Reduz a largura do vídeo */
  height: 50%; /* Mantém a proporção */
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* LOCALIZAÇÃO - MAPA E ENDEREÇO DO EVENTO */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Estilizando a seção de descoberta do paraíso */
#descubra_paraiso {
  text-align: center;
  background-color: #f0f4f9;
  position: relative;
  padding: 2% 16% 0% 16%;
  margin-top: 0%;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 100;
  font-size: 27px;
  color: #a64d79;
}

/* Estilizando o texto com classe "donut_amatic" */
.donut_amatic {
  font-family: "Amatic SC", Arial, sans-serif;
  font-size: 27px;
}

/* Estilizando a seção do mapa */
.mapa_section {
  background-color: #f0f4f9;
}

/* Estilizando DIV mapa da seção do mapa */
.mapa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3% 20%;
  font-weight: 700;
  font-size: 13px;
}

pre {
  font-family: "Roboto", Arial, sans-serif;
  
}

/* Estilizando a seção de reforço para convite */
.ref_convite {
  display: flex;
  justify-content: center;
  background-image: url(Imagens/1.Página_inicial/capa_pag_inicial.jpg);
  background-position: center;
  align-items: center;
  background-size: cover;
  font-family: "Amatic SC", Arial, sans-serif;
  font-size: 37px;
  color: #fff;
  height: 15vh;
  font-weight: 800;
}

/*Estilizando os dados para contato*/
.dados_para_contato {
  background-color: #f0f4f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
  padding-bottom: 2%;
  color: rgb(41, 40, 40);
  font-size: 14px;
  text-align: center;
  color: #741b47;
  font-family: "Bree Serif", Arial, sans-serif;
  font-weight: 100;
}

/*Estilizando a cor do h3 da classe dados para contato*/
.dados_para_contato h3 {
  color: #a36f84;
}

/*Estilizando a cor do p da classe contato*/
.dados_para_contato{
  color: #d1456f;
  font-weight: 400;
}


/* Estilos para dispositivos móveis */

/* Estilos para dispositivos móveis */
@media (max-width: 748px) {
  body {
    font-size: 14px;
    /* Reduz o tamanho da fonte para caber melhor na tela */
}

header{
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
}

#foto_capa {
  height: 38vh;
}

#tit_capa {
  padding-top:18%;
  font-size: 50px;
}

#data_capa {
  font-size: 13px;
}

h2{
  font-size: 23px;
}

.botao_nav {
  font-size: 8px;
  padding: 2px;
  margin: 0;
}

.bem_vindo h2{
  font-size: 18px;
  padding: 3%;
}

.container-carrossel {
  display: none;
}

.introducao {
  margin: 2%;
  padding: 3% 5%;
}

.quantidade_dias {
  margin: 0 2% 4% 2%;
  font-size: 20px;
  padding: 3% 5%;
}

.quantidade_dias p{
  font-size: 17px;
}

.dias {
  flex-direction: column;
}

#botao_confirmar_presenca {
  width: 60%;
}

.card {
  margin: 0;
  margin-bottom: 4%;
}

.programacao_evento{
  display: grid;
  grid-template-columns: 1;
  max-width: 100%;
}

.dia_1, .dia_2, .dia_3 {
  margin: 10px;
  margin-bottom: 20px;
}

#desc_palestrantes h3{
  font-size: 14px;
}

.informacoes_palestrantes {
  grid-template-columns: repeat(1, 1fr); /* 2 colunas em telas menores */
  padding: 1%;
}

.video video {
  width: 100%;  /* Reduz a largura do vídeo */
  height: 100%; /* Mantém a proporção */
}

#descubra_paraiso{
  font-size: 16px;
  text-align: justify;
}

#descubra_paraiso p{
  padding: 2% 0;
}

#veja_local{
  text-align: center;
}

.mapa {
  flex-direction: column;
  margin: 5% 20%;
}

pre {
  margin-top: 15px;
}

.p_cont{
  font-size: 8px;
}

.ref_convite p{
  font-size: 30px;
}

.dados_para_contato{
  margin: 3%;
  font-size: 11.5px;
}

.contato{
  font-weight: 400;
}

.by {
  padding: 2% 0;
}
}

/* --------------------------------------------------------------------------
~ OBSERVAÇÃO: AS FOLHAS DE ESTILO ESTÃO EM ARQUIVOS DIFERENTES, SENDO ELES: -
-                           * header.css                                    -
-                           * main.css                                      -
-                           * footer.css                                    -
--------------------------------------------------------------------------- */