/* --------------------------------------------------------- */
/*                    IMPORTS (FONTES)                       */
/* --------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

/* --------------------------------------------------------- */
/*                    ESTILIZANDO A CAPA                     */
/* --------------------------------------------------------- */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*    DEFIFININDO IMAGEM PARA CAPA     */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Definindo a imagem de fundo, tamanho e posição da capa */
#foto_capa {
  background-image: url(Imagens/img_inscricao/capa_insc.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
}

/*~~~~~~~~~~~~~~~~~~~*/
/*     TEXTO CAPA    */
/*~~~~~~~~~~~~~~~~~~~*/

/* Estilizando a data na capa */
#data_limite_insc {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

/* Estilizando o título na capa */
#tit_capa {
  font-family: "Amatic SC", Arial, sans-serif;
  font-size: 80px;
  position: relative;
  padding-top: 7%;
  margin-top: 1%;
  font-weight: 800;
  color: #ead1dc;
}

/* Centralizando o conteúdo da capa */
.capa {
  text-align: center;
}

/* --------------------------------------------------------- */
/*           ESTILIZANDO MAIN DA PÁGINA INSCRIÇÃO            */
/* --------------------------------------------------------- */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*   INTRODUÇÃO INSCRIÇÃO PARA O EVENTO   */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Cor de background para toda a página de formulário*/
main {
  background-color: #f0f4f9;
}

/* Estilizando o convite para preencher formulário*/
.inscricao_evento {
  display: block;
  margin: 3% 0px;
  text-align: center;
  color: #9e5c7e;
  font-family: "Bree Serif", Arial, sans-serif;
  font-size: 27px;
  font-weight: 100;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* REGRAS E OBSERVAÇÕES DO EVENTO */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Estilizando a seção de regras e observações */
.regras_observacoes {
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  max-width: 850px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 350;
  padding: 0% 5% 3% 5%;
}

/* Estilizando o título das regras e observações */
.regras_observacoes h3 {
  font-family: "Bree Serif", Arial, sans-serif;
  padding-bottom: 2%;
  color: #9e5c7e;
  text-align: center;
}

/* Estilizando os itens da lista de regras */
#lista_regras li {
  margin-bottom: 10px;
}

/* Alterando a opacidade dos itens da lista de regras ao passar o mouse */
#lista_regras li:hover {
    opacity: 10;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*    ESTILIZANDO O FORMULÁRIO    */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Estilizando o formulário de inscrição */
form {
  display: block;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin-bottom: 2%;
  margin: 0 auto;
  border: 1px dashed #945b76;
  border-radius: 7%;
  padding: 2% 2% 1% 2%;
}

/* Estilizando os campos de entrada e textarea no formulário de inscrição */
.form_inscricao input,
.form_inscricao textarea {
  justify-content: center;
  margin-bottom: 2%;
  padding: 9px;
  width: 100%;
  max-width: 700px;
  border-radius: 7px;
  border: 1px #9e5c7e;
  border-style: dotted;
}

/* Definindo a altura do campo textarea */
.form_inscricao textarea {
  height: 70px;
}

/* Estilizando o botão de envio do formulário */
.form_inscricao input [type="submit"] {
  color: white;
  padding-top: 5%;
  cursor: pointer;
  border-radius: 10px;
  width: 70px;
}

/* Alterando a aparência do botão de envio ao passar o mouse */
.form_inscricao input[type="submit"]:hover {
  color: #fff;
  background-image: url(Imagens/img_inscricao/capa_insc.jpg);
  font-weight: 500;
  background-size: cover;
}

/* Estilizando os rótulos dos campos do formulário */
form label {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 350;
  color: #000;
  padding-top: 2%;
  text-align: left;
}

input{
  margin-top: 1%;
}

/* Estilizando a seção de formulário */
.formulario {
  display: block;
  justify-content: center;
  align-items: center;
}

/*Estilizando os dados para contato*/
.dados_para_contato {
  background-color: #f0f4f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
  padding-bottom: 0%;
  color: rgb(41, 40, 40);
  font-size: 14px;
  text-align: center;
  color: #741b47;
  font-family: "Bree Serif", Arial, sans-serif;
  font-weight: 100;
}

/*Estilizando a cor do h3 da classe dados para contato*/
.dados_para_contato h3 {
  color: #a36f84;
}

/*Estilizando a cor do p da classe contato*/
.contato{
  color: #d48099;
}



/* --------------------------------------------------------------------------
~ OBSERVAÇÃO: AS FOLHAS DE ESTILO ESTÃO EM ARQUIVOS DIFERENTES, SENDO ELES: -
-                           * header_insc.css                               -
-                           * main_insc.css                                 -
-                           * footer_insc.css                               -
--------------------------------------------------------------------------- */